DATABASE_URL="postgresql://postgres:postgres123@localhost:5445/nexacommerce_db?schema=public"

# REDIS
REDIS_URL="redis://localhost:6379"

# RABBITMQ
RABBITMQ_URL="amqp://localhost:5672"

# JWT
JWT_SECRET="super-secret-key-change-in-production"
JWT_EXPIRES_IN="1d"

# PORTS
PORT_API_GATEWAY=3000
PORT_AUTH_SERVICE=3001
PORT_PRODUCT_SERVICE=3003
