node_modules/
dist/
coverage/
.env
.env.local
.env.production
*.log
.DS_Store
.idea/
.vscode/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
build/
.next/
out/
apps/*/.env
frontend/*/.env
packages/*/.env
