DATABASE_URL="postgresql://postgres:postgres123@localhost:5445/nexacommerce_db?schema=payments"
PORT=3006
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
MIDTRANS_SERVER_KEY="SB-Mid-server-nexacommerce-stage3-secret"
MIDTRANS_CLIENT_KEY="SB-Mid-client-nexacommerce-stage3-pub"
MIDTRANS_MERCHANT_ID="MIDTRANS-MERCHANT-ID"
MIDTRANS_IS_PRODUCTION=false
JWT_SECRET="supersecretjwtkey123"
