DATABASE_URL="postgresql://postgres:postgres123@localhost:5445/nexacommerce_db?schema=orders"
PORT=3005
PRODUCT_SERVICE_URL="http://localhost:3003"
INVENTORY_SERVICE_URL="http://localhost:3007"
USER_SERVICE_URL="http://localhost:3002"
CART_SERVICE_URL="http://localhost:3004"
VOUCHER_SERVICE_URL="http://localhost:3008"
PAYMENT_SERVICE_URL="http://localhost:3006"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
JWT_SECRET="supersecretjwtkey123"
